@tailwind base;
@tailwind components;
@tailwind utilities;

/* 下方這些都可以寫在vue裡面 !! */

@layer base {
  h1 {
    @apply text-4xl; }
}

/* 自訂class名稱 使用hover active... */
@variants hover {
  .primary {
    color: #F0F;
  }
}

/* 使用screen 取代 media */
@screen tablet {
  .box {
    width: 50px;
  }
}

/* 使用theme對應config 設定顏色 */
.test-white {
  color: theme('colors.gray.500');

  /* 取代組件樣式  使用這種方式可以設定多個樣式 與bootstap相同 */

  @layer components {
    .btn {
      @apply font-bold py-2 px-4 rounded;
    }

    .btn-blue {
      @apply bg-blue-500 text-white; }

    .btn-blue:hover {
      @apply bg-indigo-700; }
  }


  /* 工具類class */
  @layer utilities {
    @responsive {
      @variants dark ,hover,
        focus {
        .filter-none {
          filter: none;
        }

        .filter-grayscale {
          filter: grayscale(100%);
        }
      }
    }
  }
}
