@tailwind base;

@tailwind components;

@tailwind utilities;


@layer base {
  .theme-light {
    --color-base: theme('colors.white');
    --color-primary: theme('colors.blue.200');
    --color-danger: theme('colors.blue.200'); 
  }
  
  .theme-dark {
    --color-base: theme('colors.gray.900');
    --color-primary: theme('colors.green.300');
    --color-danger: theme('colors.red.200'); 
  }
}
  

