@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1 {
    @apply text-4xl; }
}

/* 自訂class名稱 使用hover active... */
@variants hover {
  .primary {
    color: #F0F;
  }
}

/* 使用screen 取代 media */
@screen tablet {
  .box {
    width: 50px;
  }
}

/* 使用theme對應config 設定顏色 */
.test-white {
  color: theme('colors.gray.500');
}
